.leftSideBar{
    background-color: #ffffff;
    height: 891px;
    width: 300px;
    box-shadow: 1px 0px 10px #8e909344;
    z-index: 1;
}

.selectedBar{
    background-color: #03aeee;
    margin-top: 23px;
    margin-left: 15px;
    height: 60px;
    width: 285px;
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
}

.iconbg{
    background-color: #ffffff;
    height: 29px;
    width: 29px;
    margin-left: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconbg img{
    height: 13px;
    width: 16px;    
}

.listname{
    color: #ffffff;
    height: 22px;
    width: 127px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}